/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    background-color: #357838;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ████████████████
*/

body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ████████████
 ██░░░░░░░░████
 ██░░████░░░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░████░░░░██
 ██░░░░░░░░████
 ████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

.gridcontainer {
  width: 100%;
  display: block;
  /* height: 100px; */
  /* padding: 5px; */
}

.griddata {
  display: flex;
  flex-direction: column;
}

#gridDisplay {
  width: 100%;
  margin: 0 0;
}

.griditem {
  flex: 0 0 100px; /* Set your desired width */
  height: 150px;
  width: 100px;
  display: inline-block;
  margin: 0% 20px 20px 0%;
  vertical-align: top;
  /* background-color: gray; */
  border-radius: 5px;
  overflow: hidden;
  /* padding-right: 5px; */
}

.griditemcontainer {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0% 0% 0% 20px;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.griditempicture {
  height: 100px;
  width: 100px;
  vertical-align: top;
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
}

.gridkey {
  display: inline-block;
  padding-right: 5px;
}

.gridtype {
  font-size: 2em;
  font-weight: 600;
  padding: 0% 0% 0% 20px;
}

.gridvalue {
  display: inline-block;
  padding-right: 5px;
  /* margin: 0% 5% 0% 5%; */
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████
 ██░░░░░░██
 ████░░████
   ██░░██
   ██░░██
   ██░░██
   ██░░██
   ██░░██
 ████░░████
 ██░░░░░░██
 ██████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
         ██████
         ██░░██
         ██░░██
         ██░░██
         ██░░██
         ██░░██
 ██████  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ████████
 ██░░██  ██░░░░██
 ██░░██  ██░░████
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░████
 ██░░██  ██░░░░██
 ██████  ████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/*
██████          ██████
██░░██████████████░░██
██░░░░░░░░░░░░░░░░░░██
██░░██████░░██████░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██████  ██░░██
██░░██          ██░░██
██░░██          ██░░██
██░░██          ██░░██
██████          ██████
*/

#mediaForm {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Center the form using flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* This will center the form horizontally */
}

#mediaForm label,
#mediaForm input,
#mediaForm button {
  display: block;
  margin-bottom: 10px;
}

#customFieldsContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#addCustomField,
#mediaSubmit {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#addCustomField {
  background-color: #2196F3;
  margin-bottom: 15px;
}

#addCustomField:hover,
#mediaSubmit:hover {
  background-color: #45a049;
}

/* ---------------------------------------------------------------------------------------------- N ---------------------------------------------------------------------------------------------- */
/* 
██████████      ██████
██░░░░██████    ██░░██
██░░░░░░░░████  ██░░██
██░░████░░░░██  ██░░██
██░░██████░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██████░░██
██░░██  ██░░░░████░░██
██░░██  ████░░░░░░░░██
██░░██    ██████░░░░██
██████      ██████████
 */

nav {
    background-color: #45a049;
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/*
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██████████████
*/

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/* 
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██░░██████████
██░░██
██░░██
██░░██
██████
*/

p {
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ████████████████
  */
/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████████████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ██░░██████░░████
 ██░░██  ██░░██
 ██░░██  ██░░██████
 ██░░██  ██░░░░░░██
 ██████  ██████████
 */

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████░░██
         ██░░██
 ██████████░░██
 ██░░░░░░░░░░██
 ██████████████
 */

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██████░░██████
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██████
*/

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░░░██░░░░██
 ████░░░░░░████
   ████░░████
     ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████          ██████
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██  ██████  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██████░░██████░░██
 ██░░░░░░░░░░░░░░░░░░██
 ██░░██████░░██████░░██
 ██████  ██████  ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ██░░░░░░██
   ████░░░░░░████
   ██░░░░██░░░░██
 ████░░██  ██░░████
 ██░░░░██  ██░░░░██
 ████████  ████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ████░░████
       ██░░██
       ██░░██
       ██░░██
       ██░░██
       ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████████
 ██░░░░░░░░░░░░░░██
 ████████████░░░░██
         ████░░████
       ████░░████
     ████░░████
   ████░░████
 ████░░████
 ██░░░░████████████
 ██░░░░░░░░░░░░░░██
 ██████████████████
*/





