/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

* {
  user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    background-color: #357838;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ████████████████
*/

#backContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;
}

#backContainer2 {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;
}

#backTagButton {
  width: fit-content;
}

#backTagText {
  width: fit-content;
}

#backtogrid {
  cursor: pointer;
  display: inline-block;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  /* position: fixed; */
}

#buttonContainer {
  display: flex;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

#contentDisplay {
  display: none;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ████████████
 ██░░░░░░░░████
 ██░░████░░░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░████░░░░██
 ██░░░░░░░░████
 ████████████
*/

#dataDisplay {
  /* overflow: scroll; */
}

#deleteContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;

}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

#editButton {
  cursor: pointer;
  /* width: fit-content; */
}

#editCategorySettings {
  width: 100%;
  margin: 0 0;
}

/* .editContainer {
  display: flex;
  align-items: center;
} */

#editContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;

}

#editTagImage {
  display: inline-block;
  vertical-align: middle; /* Adjust vertical alignment as needed */
  cursor: pointer;
}

/* #editTagSettings {
  width: 100%;
  margin: 0 0;
} */

#error-message {
  color: rgb(247, 72, 72); 
  display: none;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/



/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████
 ██░░░░░░██
 ████░░████
   ██░░██
   ██░░██
   ██░░██
   ██░░██
   ██░░██
 ████░░████
 ██░░░░░░██
 ██████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
         ██████
         ██░░██
         ██░░██
         ██░░██
         ██░░██
         ██░░██
 ██████  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ████████
 ██░░██  ██░░░░██
 ██░░██  ██░░████
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░████
 ██░░██  ██░░░░██
 ██████  ████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/*
██████          ██████
██░░██████████████░░██
██░░░░░░░░░░░░░░░░░░██
██░░██████░░██████░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██████  ██░░██
██░░██          ██░░██
██░░██          ██░░██
██░░██          ██░░██
██████          ██████
*/

.mediacontainer {
  width: 100%;
  display: block;
  /* height: 100px; */
  /* padding: 5px; */
}

.mediadata {
  display: flex;
  flex-direction: column;
}

#mediaDisplay {
  width: 100%;
  margin: 0 0;
}

.mediaitem {
  /* 135 + 2(border pxs) = 137 */
  /* flex: 0 0 auto; */
  /* max-height: 212px; disabling to keep content at the bottom */
  /* min-height: 155px; */ /* Removed width for horizontal content */
  position: relative;
  width: auto;
  min-width: auto;
  /* max-width: 273px; */
  display: inline-block;
  margin: 0% 15px 15px 0%;
  vertical-align: top;
  /* background-color: gray; */
  border-radius: 5px;
  cursor: pointer;
  /* overflow: hidden; */
  /* padding-right: 5px; */
  /* margin: 0 auto; */
}

.mediaitemcontainer {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0% 0% 0% 20px;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  align-items: flex-end;
}

/* This image class determines the shape dimensions, portrait, landscape, square, or full width content */
.mediaitempicture {
  /* min-height: 135px; */ /* Removed width for horizontal content */
  /* max-height: 190px; 2px of top and bottom border do not effect this */
  /* width: 100%; */
  /* height: 100%; */
  height: 189px;  /* Removed height for square content */
  /* width: 135px; */ /* Removed width for thin content */
  max-width: 273px;
  /* vertical-align: top; */
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
  /* background-image: url('assets/media/default.png'); Set the path to your default image */
  background-size: cover;
  background-position: center;
  border:1px solid #000000;
  display: block;
  object-fit: cover; /* Use contain to ensure the entire image is visible */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease-in-out, filter 0.1s ease-in-out, border 0.1s ease-in-out;
  /* cursor: pointer; */
}

.mediaitempicture:hover {
  /* Increase the box-shadow to create a glow effect */
  /* filter: brightness(1.05); Adjust the value to control brightness */
  border:1px solid #ffffff;
  box-shadow: 0 0 20px rgba(172, 172, 172, 0.8);
}

.mediakey {
  display: inline-block;
  padding-right: 5px;
}

.mediavalue {
  /* display: inline-block; */
  /* padding-right: 5px; */
  /* Set maximum width for a single line */
  position: absolute;
  max-width: 100%;
  /* Ensure text doesn't wrap to the next line */
  white-space: nowrap;
  /* Hide overflow content */
  overflow: hidden;
  /* Add ellipsis (...) when text overflows */
  text-overflow: ellipsis;
  padding: 5px 0 0 0;
}

#mediaForm {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Center the form using flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* This will center the form horizontally */
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mediaForm label,
#mediaForm input,
#mediaForm button {
  display: block;
  margin-bottom: 10px;
}

#customFieldsContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

#addCustomField,
#mediaSubmit {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#addCustomField {
  background-color: #2196F3;
  margin-bottom: 15px;
}

#addCustomField:hover,
#mediaSubmit:hover {
  background-color: #45a049;
}

/* ---------------------------------------------------------------------------------------------- N ---------------------------------------------------------------------------------------------- */
/* 
██████████      ██████
██░░░░██████    ██░░██
██░░░░░░░░████  ██░░██
██░░████░░░░██  ██░░██
██░░██████░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██████░░██
██░░██  ██░░░░████░░██
██░░██  ████░░░░░░░░██
██░░██    ██████░░░░██
██████      ██████████
 */

nav {
    background-color: #45a049;
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 10;
    display: flex;
}

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/*
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██████████████
*/

#openCmdButton {
  /* height: 100px;
  width: 100px;
  z-index: 100; */
  cursor: pointer;
}

#openPopup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/* 
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██░░██████████
██░░██
██░░██
██░░██
██████
*/

p {
  text-align: center;
  background-color: #dfdfdf;
  width: fit-content;
  margin: 0px;
}

/* .playContainer {
  display: flex;
  align-items: center;
} */

#playContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;

}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ████████████████
  */
/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████████████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ██░░██████░░████
 ██░░██  ██░░██
 ██░░██  ██░░██████
 ██░░██  ██░░░░░░██
 ██████  ██████████
 */

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████░░██
         ██░░██
 ██████████░░██
 ██░░░░░░░░░░██
 ██████████████
 */

#saveContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  background-color: #dfdfdf;
  cursor: pointer;

}

 .scrollableContent {
  position: relative;
  overflow-y: auto;
  overflow-x: none;
  display: block;
  height: calc(100vh); /* 100 view height - 70px of menu height */
  width: calc(100% - 200px); /* 100% - sideMenu Width */
  /* top: calc(50px + 20px); nav height + nav Padding */
  left: 200px; /* sideMenu Width */
  /* overflow-y: scroll; */
 }

#showTagSettings {
  width: 100%;
  margin: 0 0;
}

 #sideMenu {
  background-color: #dfdfdf;
  /* top: calc(50px + 20px); nav height + nav Padding */
  width: 200px;
  height: calc(100vh); /* full view height - nav height - nav padding */
  position: fixed;
 }

 .sidemenu-item {
  padding: 0 0 0 5px;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
 }

 .sidemenu-item:hover {
  background-color: #ececec; /* Lighter background color */
 }

 .sidemenu-item.selected {
  background-color: #ffffff; /* Lighter background color */
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██████░░██████
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██████
*/

table {
    border-collapse: collapse;
    width: 100%;
    /* overflow: scroll; */
}

.tagContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tagSelection {
  font-size: 2em;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle; /* Adjust vertical alignment as needed */
  margin-right: 20px; /* Adjust the margin between the tag and the image */
  padding: 0% 0% 0% 20px;
}

#tagNameContainer {
  height: 50px;
}

tbody {
  overflow: scroll;
}

.test {
    height: 200px;
    width: 200px;
    animation: loadingOverlay 3s ease infinite;
    background: linear-gradient(
    150deg,rgba(245,247,248,0) 20%,#fff 35%,rgba(245,247,248,0) 50%,rgba(245,247,248,0) 55%,#fff 65%,rgba(245,247,248,0) 75%),#edeeef;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Added shadow offsets */
}

.testMedia {
  /* Default Values before content is overwritten */
  height: 200px; 
  width: 200px;
  background-color: rgb(255, 100, 100);
}

.testMediaContainer {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  /* gap: 5px; */
}
  
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░░░██░░░░██
 ████░░░░░░████
   ████░░████
     ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████          ██████
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██  ██████  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██████░░██████░░██
 ██░░░░░░░░░░░░░░░░░░██
 ██░░██████░░██████░░██
 ██████  ██████  ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ██░░░░░░██
   ████░░░░░░████
   ██░░░░██░░░░██
 ████░░██  ██░░████
 ██░░░░██  ██░░░░██
 ████████  ████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ████░░████
       ██░░██
       ██░░██
       ██░░██
       ██░░██
       ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████████
 ██░░░░░░░░░░░░░░██
 ████████████░░░░██
         ████░░████
       ████░░████
     ████░░████
   ████░░████
 ████░░████
 ██░░░░████████████
 ██░░░░░░░░░░░░░░██
 ██████████████████
*/





